header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: var(--shadow-sm-header);
  nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo,
  .searchBar {
    display: flex;
  }

  .searchBtn,
  .searchInput{
    padding: 10px 20px;
    transition: var(--transition);
  }

  .searchBtn{
    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  .logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    gap: 10px;
  }

  .searchBar {
    flex: 1;
    max-width: 500px;
    border: 1px solid var(--color-primary);
    border-radius: 25px;

    .searchInput {
      flex: 1;
      transition: var(--transition);
    }

    .searchBtn {
      border-radius: 25px;
    }
  }

  .actions {
    display: flex;
    gap: 15px;

    li {
     
     
      transition: var(--transition);
      .linkIcon {
        height: 100%;
        padding: 10px; 
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: rgba(128, 128, 128, 0.2);
        }
      }
    }


    .activeLink {
        .linkIcon{
            background-color: rgba(128, 128, 128, 0.2);
        }
        svg {
        fill: var(--color-primary);
        stroke: var(--color-primary);
      }
    }
  }
}
